# Importing data into Neo4j

- Source: https://snap.stanford.edu/data/wikispeedia.html

In [1]:
import os

import pandas as pd
import numpy as np

from tqdm import tqdm
from neo4j import GraphDatabase
from urllib import request

We need to clean the files to remove comments first, since they caused trouble in read_csv()

In [33]:
if(os.getcwd()[-31:] != "DataRes-Research-Spring-22\data"):
    os.chdir("data")

# print(os.listdir(os.getcwd()))
for file in os.listdir(os.getcwd()):
    if os.path.isfile(file):
        with open(file, "r") as f:
            lines = f.readlines()
        with open(file, "w") as f:
            for line in lines:
                if len(line) > 1:
                    if line.strip("\n")[0] != "#":
                        f.write(line)

In [34]:
members = pd.read_csv('articles.tsv', sep = "\t")
interactions = pd.read_csv('links.tsv', sep = "\t")

In [35]:
members.head()

  %C3%81ed%C3%A1n_mac_Gabr%C3%A1in
0                       %C3%85land
1               %C3%89douard_Manet
2                        %C3%89ire
3       %C3%93engus_I_of_the_Picts
4   %E2%82%AC2_commemorative_coins

In [36]:
interactions.head()

   %C3%81ed%C3%A1n_mac_Gabr%C3%A1in            Bede
0  %C3%81ed%C3%A1n_mac_Gabr%C3%A1in         Columba
1  %C3%81ed%C3%A1n_mac_Gabr%C3%A1in  D%C3%A1l_Riata
2  %C3%81ed%C3%A1n_mac_Gabr%C3%A1in   Great_Britain
3  %C3%81ed%C3%A1n_mac_Gabr%C3%A1in         Ireland
4  %C3%81ed%C3%A1n_mac_Gabr%C3%A1in     Isle_of_Man

#### Connecting to the DBMS

If there is any authentification error after you run any queries, then your username and password are wrong

In [28]:
# Seen from :server status
uri = "bolt://localhost:7687"

# default user for graph database is neo4j
# auth = ("neo4j", "password")
auth = ("neo4j","abc")

driver = GraphDatabase.driver(uri = "bolt://localhost:7687", auth = auth)
driver.verify_connectivity()

C:\Users\email\AppData\Local\Temp/ipykernel_18804/1791393756.py:9: ExperimentalWarning: The configuration may change in the future.
  driver.verify_connectivity()

'Neo4j/4.4.5'